.home__msg{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__msg > p{
    color: #00ABE7;
    font-size: 2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 3rem;
}

.home__msg > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.home__msg > div > svg{
    color: #0081AF;
    font-size: 2.5rem;
}

.home__msg > div > p{
    color: #0081AF;
    font-size: 2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.home__msg > a{
    text-decoration: none;
    color: #00ABE7;
    font-family: monospace;
    font-size: 2rem;
}

.home{
    margin-top: 6rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.home__posts{
    flex: 0.5;
}

.pagination{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.pagination > button{
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    background-color: white;
    color: #0081AF;
    border-color: #0081AF;
    font-size: 1rem;
    font-weight: bold;
}

.usercard__box {
    flex: 0.3;
    max-width: 300px;
    margin-bottom: 2rem;
}

@media (max-width: 700px) {
    .home{
        flex-direction: column-reverse;
        align-items: center;
    }

    .usercard__box{
        margin-bottom: 2rem;
        width: 90%;
    }

    .home__posts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pagination{
        max-width: 200px;
        width: 100%;
    }
}