/* css variables */
/* :root {
  --backgroundColor1: #0081AF;
  --backgroundColor2: #00ABE7;
  --deleteBtnColor1: #C33C54;
  --successBtnColor1: #69995D;
  --likeBtn: #D66BA0;
} */

/* scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  max-width: 100vw;
  min-height: 100vh;
}

a{
  text-decoration: none;
}