/* css variables */
/* :root {
  --backgroundColor1: #0081AF;
  --backgroundColor2: #00ABE7;
  --deleteBtnColor1: #C33C54;
  --successBtnColor1: #69995D;
  --likeBtn: #D66BA0;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  max-width: 100vw;
  min-height: 100vh;
}

a{
  text-decoration: none;
}